{{!< default}}

{{#post}}

    {{> header
        header-post=true
        cover=image
        cover-half=true
        }}
{{/post}}

<main id="main" class="container container-content hide-on-menu">

    {{#post}}

        <div class="row">

            <section class="posts posts-single">

                <article class="post-content">
                    {{{content}}}

                </article>

                <div class="row">
                    {{#if tags}}
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                            <div class="widget widget-inline">
                                <h2 class="widget-title">Tags</h2>
                                <div class="tag-cloud">
                                    {{#foreach tags}}
                                        <a href="{{url}}">{{name}}</a>
                                    {{/foreach}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <div class="widget widget-inline">
                            <h2 class="widget-title">Share</h2>
                            <div class="tag-cloud">
                                <a href="http://wwww.facebook.com/sharer.php?u={{url absolute="yes"}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="http://twitter.com/share?text={{title}}&url={{url absolute="yes"}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="http://plus.google.com/share?url={{url absolute="yes"}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                {{#unless page}}
                    {{> widgets/inline-author}}
                    {{> widgets/inline-prev-next}}

                    <div class="post-comments">


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=198154610395177";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="http://45.56.89.244/" data-numposts="5"></div>
                    </div>
                {{/unless}}
            </section>

            {{> sidebar}}
        </div>

    {{/post}}

</main>

